/* Réinitialisation de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.global{
  font-family: Arial, sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #222;
}

/* Container général */
.cv-container {
  max-width: 900px;
  margin: 0 auto;
  background-color: #eeeef2;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
}

/* Colonne gauche */
.left-column {
  background-color: #d9dadc;
  width: 250px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-column img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.section {
  width: 100%;
  margin-bottom: 30px;
}

.section h3 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 14px;
  color: #111;
}

.contactcv-item {
  font-weight: 600;
  font-size: 14px;
  margin: 8px 0 8px 0;
}
.contactcv-item span {
  font-weight: normal;
}
.contactcv-item:not(:last-child) {
  border-bottom: 1px solid #8b8b8b;
  padding-bottom: 6px;
}

/* Icones contactcv */
.email-icon::before {
  content: "✉️ ";
}
.phone-icon::before {
  content: "📞 ";
}
.location-icon::before {
  content: "📍 ";
}

/* Colonne droite */
.right-column {
  flex-grow: 1;
  padding: 30px 40px 30px 40px;
}

.right-column h1 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 28px;
}

.right-column h2 {
  font-size: 20px;
  margin-bottom: 14px;
}

.right-column h3 {
  font-weight: 600;
  font-size: 16px;
  margin: 12px 0 6px 0;
}

.right-column p {
  margin-top: 4px;
  margin-bottom: 16px;
  line-height: 1.4em;
}

.italic {
  font-style: italic;
  color: #7a7a7a;
  font-weight: 400;
  margin-left: 1px;
}

.bold {
  font-weight: 700;
}

/* Mise en forme spécifique */
.job-title {
  font-weight: 700;
  display: inline;
}


/* Mise en forme compétences */
.competence {
  margin-bottom: 12px;
  font-weight: 600;
}

/* Liste intérêts stylée */
.interests-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.interests-list li {
  font-weight: 700;
  margin-bottom: 6px;
}

/* Responsive */
@media(max-width: 730px) {
  .cv-container {
    flex-direction: column;
    max-width: 100%;
  }
  .left-column {
    width: 100%;
    padding: 20px;
    align-items: flex-start;
    flex-direction: row;
    gap: 20px;
  }
  .left-column img {
    margin-bottom: 0;
  }
  .right-column {
    padding: 20px;
  }
}