<nav class="neutral">
  <ul class="menu-left">
    <li><a href="index.html">Accueil</a></li>
  </ul>
  <ul class="menu-right">
    <li>
      <a href="#">Portfolio</a>
      <ul>
        <li><a href="tps.html">TPs</a></li>
        <li><a href="projet.html">Projets</a></li>
        <li><a href="stagesio1.html">Stage SIO1</a></li>
        <li><a href="stagesio2.html">Stage SIO2</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Documents</a>
      <ul>
        <li><a href="cv.html">CV</a></li>
        <li><a href="lm.html">Lettre de motivations</a></li>
        <li><a href="conventionstagesio1.html">Convention SIO1</a></li>
        <li><a href="conventionstagesio2.html">Convention SIO2</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Veille</a>
      <ul>
        <li><a href="veillesujet1.html">Thème 1</a></li>
        <li><a href="veillesujet2.html">Thème 2</a></li>
      </ul>
    </li>
    <li>
      <a href="realisations.html">Réalisations</a>
      <ul>
        <li><a href="flappybird.html">Flappy Bird</a></li>
        <li><a href="snake.html">Snake</a></li>
        <li><a href="demineur.html">Démineur</a></li>
        <li><a href="dino.html">Dino Run</a></li>
      </ul>
    </li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
</nav>